{% extends "socialaccount/base.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'account/css/auth-common.css' %}">
<link rel="stylesheet" href="{% static 'socialaccount/css/socialaccount-auth.css' %}">
{% endblock %}

{% block account_content %}
<div class="auth-container" id="socialaccount_login_container_main">
    <div class="auth-card" id="socialaccount_login_card_main">
        <div class="auth-header" id="socialaccount_login_header">
            <div class="auth-logo">
                {% if provider.id == "google" %}
                    <i class="fa-brands fa-google"></i>
                {% elif provider.id == "facebook" %}
                    <i class="fa-brands fa-facebook"></i>
                {% else %}
                    <i class="fa-solid fa-right-to-bracket"></i>
                {% endif %}
            </div>
            <h1 id="socialaccount_login_title_main">
                {% blocktrans with provider_name=provider.name %}
                Sign In with {{ provider_name }}
                {% endblocktrans %}
            </h1>
            <p id="socialaccount_login_subtitle">{% trans "Continue to authenticate with your account" %}</p>
        </div>

        <div class="auth-body" id="socialaccount_login_section_body">
            <div class="provider-info" id="socialaccount_login_provider_info">
                <p>
                    {% blocktrans with provider_name=provider.name %}
                    You will be redirected to {{ provider_name }} to continue signing in.
                    {% endblocktrans %}
                </p>
            </div>

            <form method="post" novalidate>
                {% csrf_token %}

                {% if process == "connect" %}
                    <input type="hidden" name="process" value="connect" />
                {% endif %}

                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" />
                {% endif %}

                <button id="socialaccount_login_btn_submit" type="submit" class="btn-continue">
                    <i class="fa-solid fa-arrow-right me-2"></i>
                    {% trans "Continue" %}
                </button>
            </form>

            <a href="{% url 'account_login' %}" class="btn-cancel">
                <i class="fa-solid fa-xmark me-2"></i>
                {% trans "Cancel" %}
            </a>
        </div>
    </div>
</div>
{% endblock %}
