{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{% block head_title %}Account{% endblock head_title %} | Ezzy Delivery{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'account/css/account-mobile.css' %}?v=20260417001">
{% endblock %}

{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-11 col-md-8 col-lg-6" id="account_base_container_main">
      {% block account_content %}{% endblock account_content %}
    </div>
  </div>
</div>
{% endblock content %}

{% block extra_js %}
<!-- extra js -->
{% endblock extra_js %}
