{% extends "account/base.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'account/css/auth-common.css' %}?v=20260702001">
<link rel="stylesheet" href="{% static 'account/css/account-manage.css' %}?v=20260702001">
{% endblock %}

{% block content %}
<div class="auth__container" id="account_password_change_container_main">
    <div class="auth__card" id="account_password_change_card_main">
        <div class="auth__header" id="account_password_change_header">
            <div class="auth__logo">
                <i class="fa-solid fa-key"></i>
            </div>
            <h1 id="account_password_change_title_main">{% trans "Change Password" %}</h1>
            <p id="account_password_change_subtitle">{% trans "Update the password for your Ezzy Delivery account" %}</p>
        </div>

        <div class="auth__body" id="account_password_change_section_body">
            {% if messages %}
                {% for message in messages %}
                    <div class="auth__alert auth__alert--{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}

            <form id="account_password_change_form_main" method="POST" action="{% url 'account_change_password' %}" novalidate>
                {% csrf_token %}

                {% if form.non_field_errors %}
                    <ul class="auth__errorlist">
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% for field in form %}
                    <div class="auth__form-group" id="account_password_change_group_{{ field.name }}">
                        <label for="{{ field.id_for_label }}">
                            <i class="fa-solid fa-lock me-1"></i>
                            {{ field.label }}
                        </label>
                        {{ field }}
                        {% if field.help_text %}
                            <small class="text-muted d-block mt-1">{{ field.help_text|safe }}</small>
                        {% endif %}
                        {% if field.errors %}
                            <ul class="auth__errorlist">
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                {% endfor %}

                <div class="auth__forgot-link">
                    <a id="account_password_change_link_forgot" href="{% url 'core:password_reset_request' %}">
                        {% trans "Forgot Password?" %}
                    </a>
                </div>

                <button id="account_password_change_btn_submit" type="submit" name="action" class="auth__btn--login">
                    <i class="fa-solid fa-floppy-disk me-2"></i>
                    {% trans "Change Password" %}
                </button>
            </form>
        </div>

        <div class="auth__footer" id="account_password_change_footer">
            <p>
                <a id="account_password_change_link_back" href="{% url 'core:profile_view' %}">
                    <i class="fa-solid fa-arrow-left me-1"></i>{% trans "Back to Profile" %}
                </a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
