{% load static %}
<div class="p-3" id="core_profile_container_picture_update">
    <div class="container align-content-center">
        <div class="row">
            <div class="col-md-12 pb-3">
                <form id="core_profile_form_picture_update" method="post" action="{% url 'core:profile_picture_update' %}" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="core_profile_input_picture" class="form-label fw-semibold">Choose a photo</label>
                        <input class="form-control" type="file" name="profile_picture" id="core_profile_input_picture" accept="image/*">
                    </div>
                    <div class="text-end">
                        <button id="core_profile_btn_picture_update" type="submit" class="btn btn-dark w-100">Update Photo</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>