{% load static %}
<!-- coder at work places -->
<div class="container  ">
    <section class="py-md-5 p-2">
        <div class="container">
            <div class="text-center">
                <div class="pb-4 ">
                    <img src="{% static 'webpages/img/coder.png' %}" class="col-12" alt="">
                </div>
                <h2 class="fw-bold ">Coders At Work </h2>
                <hr>
                <p class="fw-bold ">

                    This part is under coding, we are working very hard to give you the best experience with
                    this one
                </p>
            </div>
        </div>
    </section>
</div>