{% extends "fleet_dashboard_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="flex-fill p-2 ">
  <div class="container col-11">
    <div class="row">
      <div class="col-12 px-4">
        <div class="col-12 text-dark d-flex my-5 justify-content-between">
          <h2 id="fleet_document_add_header_title">UPLOAD DOCUMENTS</h2>
          <a href="{% url 'fleet:fleet_dashboard' %}">
            <button class="btn btn-dark" id="fleet_document_add_btn_back">Back</button>
          </a>
        </div>
        <form method="post" enctype="multipart/form-data" id="fleet_document_add_form_main">
          {% csrf_token %} {{ form | crispy }}
          <div class="submit my-3 text-center pt-3">
            <button type="submit" value="submit" class="btn btn-dark w-75" id="fleet_document_add_btn_submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}