/*--------------------------------------------------------------
  # Sections General - wpful (webpages-fulfillment)
  --------------------------------------------------------------*/
.wpful__section {
  padding: 3.75rem 0;
  overflow: hidden;
}

.wpful__section-bg {
  background-color: #f6f9fe;
}

.wpful__section-title {
  text-align: center;
  padding-bottom: 1.875rem;
}
.wpful__section-title h2 {
  font-size: 0.8125rem;
  letter-spacing: 0.0625rem;
  font-weight: 700;
  padding: 0.5rem 1.25rem;
  margin: 0;
  background: #e7f1fd;
  color: #106eea;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 3.125rem;
}
.wpful__section-title h3 {
  margin: 0.9375rem 0 0 0;
  font-size: 2rem;
  font-weight: 700;
}
.wpful__section-title h3 span {
  color: #e0c00b;
}
.wpful__section-title p {
  margin: 0.9375rem auto 0 auto;
  font-weight: 600;
}
@media (min-width: 1024px) {
  .wpful__section-title p {
    width: 50%;
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.wpful__breadcrumbs {
  padding: 1.25rem 0;
  background-color: #f1f6fe;
  min-height: 2.5rem;
}
.wpful__breadcrumbs h2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0;
}
@media (max-width: 992px) {
  .wpful__breadcrumbs h2 {
    margin: 0 0 0.625rem 0;
  }
}
.wpful__breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.875rem;
}
.wpful__breadcrumbs ol li + li {
  padding-left: 0.625rem;
}
.wpful__breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 0.625rem;
  color: #6c757d;
  content: "/";
}
@media (max-width: 768px) {
  .wpful__breadcrumbs .d-flex {
    display: block !important;
  }
  .wpful__breadcrumbs ol {
    display: block;
  }
  .wpful__breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
  # Featured Services
  --------------------------------------------------------------*/
.wpful__services .wpful__icon-box {
  padding: 1.875rem;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 1.8125rem 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 0.5rem;
  z-index: 1;
}
.wpful__services .wpful__icon-box::before {
  content: "";
  position: absolute;
  background: #cbe0fb;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.3s;
  z-index: -1;
}
.wpful__services .wpful__icon-box:hover::before {
  background: #eac910;
  top: 0;
  border-radius: 0;
}
.wpful__services .wpful__icon {
  margin-bottom: 0.9375rem;
}
.wpful__services .wpful__icon i {
  font-size: 3rem;
  line-height: 1;
  color: #106eea;
  transition: all 0.3s ease-in-out;
}
.wpful__services .wpful__title {
  font-weight: 700;
  margin-bottom: 0.9375rem;
  font-size: 1.125rem;
}
.wpful__services .wpful__title a {
  color: #111;
}
.wpful__services .wpful__desc {
  font-size: 0.9375rem;
  line-height: 1.75rem;
  margin-bottom: 0;
}
.wpful__services .wpful__icon-box:hover .wpful__title a,
.wpful__services .wpful__icon-box:hover .wpful__desc {
  color: #fff;
}
.wpful__services .wpful__icon-box:hover .wpful__icon i {
  color: #fff;
}
