{% extends "p2p/_base.html" %}
{% comment %}
Purpose: Shown when a confirmation link is opened after its 7-day window
Used by: p2p.views.accept_price
{% endcomment %}
{% block title %}Link expired | EzzyDelivery{% endblock title %}
{% block p2p_content %}
<div class="row justify-content-center">
  <div class="col-12 col-md-8 col-lg-6">
    <div class="p2pb__card p2pb__card--centred">
      <h1 class="p2pb__title">This link has expired</h1>
      <p class="p2pb__lead">Confirmation links are good for 7 days. Message us on WhatsApp and we'll send a fresh one, or start a new booking.</p>
      <a href="{% url 'webpages:p2p_pricing' %}" class="btn p2pb__btn-primary" id="p2p_expired_link_newbooking">Start a new booking</a>
    </div>
  </div>
</div>
{% endblock p2p_content %}
