{% extends "business_dashboard_base.html" %}
{% load crispy_forms_tags %}
{% load static %}
<!-- extra css -->
{% block extra_css %}
  <link href="{% static 'orders/css/orders.css' %}"
        rel="stylesheet"
        type="text/css" />
{% endblock extra_css %}
{% block content %}
  <!-- orders_list_view.html -->
  <div class="col-12" id="orders_all_list_container_main">
    <section class="d-block" id="orders_all_list_section_main">
      <div class="col-12 pb-2">
        <div class="px-2 px-md-3">
          <div class="col-12 pt-3 pt-md-4 d-flex flex-wrap justify-content-between pb-3 pb-md-4 gap-2" id="orders_all_list_header">
            <div class="m-0 fs-5 fw-bolder" id="orders_all_list_title">Orders ({{ len }})</div>
            <div class="d-flex flex-wrap gap-2" id="orders_all_list_nav_actions">
              <a class="btn btn-dark btn-sm text-white"
                 href="{% url 'orders:get_order_by_api' %}"
                 id="orders_all_list_btn_api_upload">
                <i class="fa fa-add me-1"></i> API
              </a>
              <a class="btn btn-dark btn-sm text-white"
                 href="{% url 'orders:order_upload_file' %}"
                 id="orders_all_list_btn_upload_bulk">
                <i class="fa fa-add me-1"></i> Bulk
              </a>
              <a class="btn btn-dark btn-sm text-white"
                 href="{% url 'orders:add_order' %}"
                 id="orders_all_list_btn_add_orders">
                <i class="fa fa-add me-1"></i> Add
              </a>
            </div>
          </div>
          {% include "orders/parts/order_list_view.html" %}
        </div>
      </div>
    </section>
  </div>
{% endblock content %}
  {% block extra_js %}
    <script type="text/javascript"
            language="JavaScript"
            charset="UTF-8"
            src="{%static 'orders/js/orders_main.js' %}"></script>
  {% endblock extra_js %}
