{% extends "base.html" %} {% load static %} {% load crispy_forms_tags %}
{% block content %}


<section
    style="background-color: #eee;"
    class="h-100"
>
    <div class="container py-3 h-100">
        <!-- file path section -->
        {% include "core/parts/filepath.html" %}
        <div class="row">
            <div class=" col-12 col-lg-4">

                {% include "core/parts/profile_sidebar.html" %}

                <!-- profile join form section -->
                <div class="col-lg-8">
                    <div class="card-body bg-light">
                        <!-- join buttons -->

                        <!-- form section -->
                        <div
                            class="tab-content"
                            id="pills-tabContent"
                        >

                            <div class="tab-pane fade active show p-0 ">
                                {% include "core/parts/join_driver_form.html" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

{% endblock content %}