{% extends "client_dashboard_base.html" %}
{% load static %}
<!-- extra title -->
{% block extra_head %}
    Products Update
{% endblock extra_head %}
<!-- extra css -->
{% load crispy_forms_tags %}
{% block content %}
    <div class="container" id="product_update_container">
        <div class="row">
            <div class="col-md-12 pb-3 d-flex justify-content-between" id="product_update_header">
                <h2 id="product_update_title">Update Product</h2>
                <a class="text-decoration-none text-light" href="">
                    <div class="btn btn-dark my-2" id="product_update_btn_back">Back</div>
                </a>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-12" id="product_update_form_wrapper">
                <form method="POST" id="product_update_form_main">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="submit my-3 text-center" id="product_update_submit_wrapper">
                        <button type="submit" value="submit" class="btn btn-primary-fill" id="product_update_btn_submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <!-- extra js -->
    <script>
        $("#id_color").select2();
        $("#id_unit").select2();
        $("#id_product_category").select2();
    </script>
{% endblock extra_js %}
