{% load static %}
{% load crispy_forms_tags %}
<div class="blu" id="business_logo_update_container_main">
  <div class="blu__card">
    <div class="blu__card-header">
      <i class="fa-solid fa-image"></i>
      <span>UPDATE BUSINESS LOGO</span>
    </div>
    <div class="blu__card-body">
      <form method="post"
            action="{% url 'business:business_logo_update' business.business_id %}"
            enctype="multipart/form-data"
            id="business_logo_update_form_main">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="blu__upload-area">
          <div class="blu__upload-icon">
            <i class="fa-solid fa-cloud-arrow-up"></i>
          </div>
          <p class="blu__upload-label">Choose a logo file</p>
          <p class="blu__upload-hint">PNG, JPG or SVG. Max 2MB recommended.</p>
          <input class="blu__file-input" type="file" name="business_logo" id="business_logo_update_input_file" accept="image/*">
        </div>

        <button type="submit" class="blu__btn" id="business_logo_update_btn_submit">
          <i class="fa-solid fa-check"></i> Update Logo
        </button>
      </form>
    </div>
  </div>
</div>
