{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}


<div class="hero ">
    <div class="container">
        <div class="col text-center">
            <div class="col is-half is-offset-one-quarter ">
                <h1 class="title ">
                    Looking for delivery driver jobs?
                </h1>
                <h2 class="subtitle">
                    join the fleet and start delivering
                </h2>
            </div>
            <div class="container">
                We’ve been on the roads understanding the issues and complexities of last-mile delivery, and each one of
                our
                products has been tested rigorously to make sure that they address most of your needs.
            </div>
            <div class="btn m-10 mt-5">
                <a
                    href="/join_driver/"
                    class="btn btn-dark btn-outlined btn-lg"
                >

                    <span class="icon">
                        <i class="fa fa-user-plus"></i>
                    </span>
                    <span>
                        Join As Driver
                    </span>



                </a>

            </div>
        </div>
    </div>
</div>

<h1 class="m-3">Get started in a few steps…</h1>
<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-2 ">
    <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
            <div class="d-flex flex-column h-50 p-5 pb-3 text-white text-shadow-1">

                <ul class="d-flex list-unstyled mt-auto">
                    <li class="me-auto">
                        <img
                            src="{% static 'webpages/img/number-circle-one.png' %}"
                            alt="Bootstrap"
                            class="rounded-circle "
                            width="54"
                            height="54"
                        >
                    </li>
                </ul>
                <h2 class="mt-md-3 mb-4 display-6 lh-1 fw-bold">REGISTER</h2>
                <p class="lead mb-5">
                    Signup and
                    Register as a driver and start delivering
                </p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
            <div class="d-flex flex-column h-50 p-5 pb-3 text-white text-shadow-1">

                <ul class="d-flex list-unstyled mt-auto">
                    <li class="me-auto">
                        <img
                            src="{% static 'webpages/img/number-circle-two.png' %}"
                            alt="Bootstrap"
                            class="rounded-circle "
                            width="54"
                            height="54"
                        >
                    </li>
                </ul>
                <h2 class="mt-md-3 mb-4 display-6 lh-1 fw-bold">get onboard</h2>
                <p class="lead mb-3">
                    The Ezzy team will review and approve your application. We’ll also introduce you to the cool new
                    features you’ll have access to.
                </p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
            <div class="d-flex flex-column h-50 p-5 pb-3 text-white text-shadow-1">

                <ul class="d-flex list-unstyled mt-auto">
                    <li class="me-auto">
                        <img
                            src="{% static 'webpages/img/number-circle-three.png' %}"
                            alt="Bootstrap"
                            class="rounded-circle "
                            width="54"
                            height="54"
                        >
                    </li>
                </ul>
                <h2 class="mt-md-3 mb-4 display-6 lh-1 fw-bold">start delivering</h2>
                <p class="lead mb-3">
                    You can start delivery as soon as you’ve completed the mandatory training and installed the
                    Ezzy Driver App. </p>
            </div>
        </div>
    </div>


</div>

{% endblock content %}


{% block extra_js %}
<!-- extra js -->


{% endblock extra_js %}