{% extends "base.html" %}
{% load static %}

{% block title %}Our Services - Delivery & Logistics Solutions{% endblock title %}
{% block meta_description %}{{ seo.description }}{% endblock %}
{% block meta_keywords %}{{ seo.keywords|join:", " }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'webpages/css/services.css' %}">
{% endblock %}

{% block content %}
<div class="services-page">
    {% include 'webpages/parts/services_list.html' %}
</div>
{% endblock content %}
