{% load custom_filters %}
<div class="card col-12 col-lg-6 ppc__card" id="product_card_single">
    <div class="m-2 ppc__wrapper" id="product_card_wrapper">
        <div class="ppc__avatar ppc__brand-logo-wrap" id="product_card_brand_logo_wrapper">
            <div>
                <img src="{{ product.brand_logo|safe_brand_logo_url }}" loading="lazy" alt="{{ product.brand_name|default:'Brand logo' }}" class="ppc__brand-logo-img" id="product_card_brand_logo_img" onerror="this.src='/media/business/product_images/brand_logo_default.jpg';">
            </div>
        </div>
        <div class="ppc__card-text ppc__content" id="product_card_content">
            <div class="ppc__portada ppc__bg-image" id="product_card_image_bg_{{ product.id }}" style="background-image: url('{{ product.product_image|safe_image_url }}');"></div>
            <div class="ppc__title-total ppc__info" id="product_card_info">
                <div class="ppc__category" id="product_card_category">{{ product.product_category }}</div>
                <h2 class="ppc__title" id="product_card_title">{{ product.item_name }}</h2>
                <div class="ppc__description" id="product_card_description">
                    {{ product.item_discription }}
                    Morgan has collected ants since they were six years old and now has many dozen ants but none
                    in
                    their pants.
                </div>
                <div class="ppc__actions" id="product_card_actions">
                    <button class="ppc__btn-wishlist" id="product_card_btn_wishlist">
                        <i class="far fa-heart"></i>
                    </button>
                    <button class="ppc__btn-add-cart" id="product_card_btn_add_cart">
                        <i class="fa-solid fa-cart-plus"></i>
                    </button>
                    <button class="ppc__btn-share" id="product_card_btn_share">
                        <i class="fas fa-user-friends"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
