{% extends "wf_dashboard_base.html" %}
{% load crispy_forms_tags %}
{% load static %}
<!-- extra css -->
{% block extra_css %}
<link href="{% static 'orders/css/orders.css' %}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}

{% block content %}
<!-- Page Header -->
<header class="page-header">
    <div class="page-header-left">
        <h2><i class="fa-solid fa-flag me-1"></i>{{ page_title }}</h2>
    </div>
</header>
<div class="col-12 p-3">
<div class="col-md-10 col-lg-10 col-12 p-0">

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">DL_Code</th>
                <th scope="col">C_Code</th>
                <th scope="col">Name</th>
                <th scope="col">Mobile</th>
                <th scope="col">Status</th>
                <th scope="col">Created</th>
            </tr>
        </thead>
        <tbody>
            {% if orders %}
            {% for order in orders %}
            <tr>
                <th scope="row" class="border-right border-bottom-0">{{ order.dl_task }}</th>
                <td class="border-right border-bottom-0">{{ order.client_order_code }}</td>
                <td class="border-right border-bottom-0">{{ order.customer_name }}</td>
                <td class="border-right border-bottom-0">{{ order.customer_phone }}</td>
                <td class="border-right border-bottom-0">{{ order.order_status }}</td>
                <td class="border-right border-bottom-0">{{ order.created_at|date:"M d, Y" }}</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2"><i class="fa-solid fa-location-pin text-success"></i>
                    {{ order.pickup_location }}</td>
                <td colspan="3"><i class="fa-solid fa-location-pin text-danger"></i>
                    {{ order.customer_address }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "includes/components/_pagination.html" with page_obj=orders filter_params=filter_params %}
    {% else %}
    <p>No orders found.</p>
    {% endif %}
</div>
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" language="JavaScript" charset="UTF-8"
    src="{% static 'orders/js/orders_main.js' %}"></script>
{% endblock extra_js %}
