.blueboardaddress {
  border-radius: 2rem;
  background-color: #0750bd;
  color: #ffffff;
  font-size: 15px;
}

.card-glassmorphic {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 6px rgba(254, 195, 0, 0.1);
  transition: all 0.3s ease;
}

.card-glassmorphic:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.addressboard {
  background: rgba(42, 110, 245, 0.822);
}
